.my-booking {
    text-align: center;
    background-color: #f7f8fa;
    padding: 10px;
}

.booking-tab {
    width: 260px;
    border-radius: 2px;
    border: 1px solid #212121;
    background-color: #212121;
    text-align: center;
    margin: 0 auto 48px;
}

.booking-titel {
    font-size: 26px;
    color: #000;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.booking-tab button {
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
    font-weight: 400;
    color: #424242;
    background-color: #fff;
    cursor: pointer;
    border: none;
    width: 50%;
    transition: all 0.2s linear;
    line-height: normal;
}

.booking-tab button.active-tab {
    color: #fff;
    font-weight: 700 !important;
    background-color: #212121;
}

.professionals-img {
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 80px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #eeeeee;
    vertical-align: top;
}

.professionals-img img {
    width: 80px;
    height: auto;
}

.professionals-detail {
    display: inline-block;
    width: calc(100% - 100px);
    margin-left: 20px;
    text-align: left;
}

.professionals-detail p {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5em;
    color: #212121;
    margin-bottom: 5px;
    position: relative;
}

.professionals-detail>p>span {
    display: inline-block;
    color: #fff;
    font-size: 10px;
    background-color: #4caf50;
    border-radius: 5px;
    padding: 3px 6px;
    line-height: normal;
    position: absolute;
    right: 10px;
    top: 2px;
}

.professionals-name {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5em;
    color: #212121;
    margin-bottom: 5px;
}

.professionals-detail-inner {
    font-size: 14px;
    margin-bottom: 10px;
}

.professionals-detail>span {
    font-weight: 500;
    color: #757575;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 1px);
    display: inline-block;
}

.professionals-detail-inner strong {
    margin-right: 10px;
}

.professionals-detail-inner:first-of-type strong {
    color: #4caf50;
}

.professionals-list>li {
    border-bottom: 2px solid #eeeeee;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.booking-detail-button {
    position: absolute;
    bottom: 25px;
    right: 10px;
}

.booking-detail-button .btn {
    font-size: 12px;
    padding: 10px;
    color: #fff;
    background: #212121;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    margin-left: 10px;
}

.booking-detail-button .btn .fa {
    margin-right: 10px;
    font-size: 14px;
}

.my-booking>.btn {
    font-size: 14px;
    padding: 16px 32px;
    color: #fff;
    background: #212121;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    margin-top: 40px;
    margin-bottom: 60px;
}