<div class="servicedetailinnerwrp">
    <h1 class="page-titel">Online Yoga Training
        <i class="fa fa-arrow-left"></i>
        <i class="fa fa-times"></i>
    </h1>

    <div class="container">
        <div class="servicedetailinner">
            <ul class="tabber">
                <li class="active">Male Personal Training</li>
                <li>Join a Group (max 4 people)</li>
                <li>Training for Two</li>
            </ul>
            <div class="tabber-content">
                <h1 class="main-titel">Male Personal Training</h1>
                <ul class="tabber-trigger">
                    <li>
                        <video
                            src="https://images.urbanclap.com/video/upload/vc_h264/categories/category_v2/category_d57663a0.mp4"
                            style="width: 100%; height: 100%;" preload="auto" autoplay="" controls=""></video>
                        <div class="listing">
                            <div class="detail">
                                <p>5 Live Personal Training Sessions</p>
                                <span class="price">₹1,499 <del>₹1,949</del><i class="fa fa-info"
                                        aria-hidden="true"></i>
                                </span>
                                <span class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i>50 min</span>
                            </div>
                            <div class="counter">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                                <span>
                                    {{sessions}}
                                </span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                        <a href="#">View details<i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <div class="listing">
                            <h6>5 Sessions</h6>
                            <div class="detail">
                                <p>5 Live Personal Training Sessions</p>
                                <span class="price">₹1,499 <del>₹1,949</del><i class="fa fa-info"
                                        aria-hidden="true"></i>
                                </span>
                                <span class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i>50 min</span>
                            </div>
                            <div class="counter">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                                <span>
                                    {{sessions}}
                                </span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                        <span class="validmsg">Validity : Upto 14 Days</span>
                        <a href="#">View details<i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <div class="listing">
                            <h6>5 Sessions</h6>
                            <div class="detail">
                                <p>5 Live Personal Training Sessions</p>
                                <span class="price">₹1,499 <del>₹1,949</del><i class="fa fa-info"
                                        aria-hidden="true"></i>
                                </span>
                                <span class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i>50 min</span>
                            </div>
                            <div class="counter">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                                <span>
                                    {{sessions}}
                                </span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                        <span class="validmsg">Validity : Upto 14 Days</span>
                        <a href="#">View details<i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <div class="listing">
                            <h6>5 Sessions</h6>
                            <div class="detail">
                                <p>5 Live Personal Training Sessions</p>
                                <span class="price">₹1,499 <del>₹1,949</del><i class="fa fa-info"
                                        aria-hidden="true"></i>
                                </span>
                                <span class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i>50 min</span>
                            </div>
                            <div class="counter">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                                <span>
                                    {{sessions}}
                                </span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                        <span class="validmsg">Validity : Upto 14 Days</span>
                        <a href="#">View details<i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <h1 class="main-titel">Join a Group (max 4 people)</h1>
                <ul class="tabber-trigger">
                    <li>
                        <video src="https://images.urbanclap.com/video/upload/vc_h264/categories/category_v2/category_d8381bb0.mp4" style="width: 100%; height: 100%;" preload="auto" autoplay="" controls=""></video>
                        <div class="listing">
                            <div class="detail">
                                <p>5 Live Personal Training Sessions</p>
                                <span class="price">₹1,499 <del>₹1,949</del><i class="fa fa-info"
                                        aria-hidden="true"></i>
                                </span>
                                <span class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i>50 min</span>
                            </div>
                            <div class="counter">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                                <span>
                                    {{sessions}}
                                </span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                        <a href="#">View details<i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <div class="listing">
                            <h6>5 Sessions</h6>
                            <div class="detail">
                                <p>5 Live Personal Training Sessions</p>
                                <span class="price">₹1,499 <del>₹1,949</del><i class="fa fa-info"
                                        aria-hidden="true"></i>
                                </span>
                                <span class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i>50 min</span>
                            </div>
                            <div class="counter">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                                <span>
                                    {{sessions}}
                                </span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                        <span class="validmsg">Validity : Upto 14 Days</span>
                        <a href="#">View details<i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <div class="listing">
                            <h6>5 Sessions</h6>
                            <div class="detail">
                                <p>5 Live Personal Training Sessions</p>
                                <span class="price">₹1,499 <del>₹1,949</del><i class="fa fa-info"
                                        aria-hidden="true"></i>
                                </span>
                                <span class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i>50 min</span>
                            </div>
                            <div class="counter">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                                <span>
                                    {{sessions}}
                                </span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                        <span class="validmsg">Validity : Upto 14 Days</span>
                        <a href="#">View details<i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <div class="listing">
                            <h6>5 Sessions</h6>
                            <div class="detail">
                                <p>5 Live Personal Training Sessions</p>
                                <span class="price">₹1,499 <del>₹1,949</del><i class="fa fa-info"
                                        aria-hidden="true"></i>
                                </span>
                                <span class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i>50 min</span>
                            </div>
                            <div class="counter">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                                <span>
                                    {{sessions}}
                                </span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                        <span class="validmsg">Validity : Upto 14 Days</span>
                        <a href="#">View details<i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <h1 class="main-titel">Training for Two</h1>
                <ul class="tabber-trigger">
                    <li>
                        <video
                            src="https://images.urbanclap.com/video/upload/vc_h264/categories/category_v2/category_d8381bb0.mp4"
                            style="width: 100%; height: 100%;" preload="auto" autoplay="" controls=""></video>
                        <div class="listing">
                            <div class="detail">
                                <p>5 Live Personal Training Sessions</p>
                                <span class="price">₹1,499 <del>₹1,949</del><i class="fa fa-info"
                                        aria-hidden="true"></i>
                                </span>
                                <span class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i>50 min</span>
                            </div>
                            <div class="counter">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                                <span>
                                    {{sessions}}
                                </span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                        <a href="#">View details<i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <div class="listing">
                            <h6>5 Sessions</h6>
                            <div class="detail">
                                <p>5 Live Personal Training Sessions</p>
                                <span class="price">₹1,499 <del>₹1,949</del><i class="fa fa-info"
                                        aria-hidden="true"></i>
                                </span>
                                <span class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i>50 min</span>
                            </div>
                            <div class="counter">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                                <span>
                                    {{sessions}}
                                </span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                        <span class="validmsg">Validity : Upto 14 Days</span>
                        <a href="#">View details<i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <div class="listing">
                            <h6>5 Sessions</h6>
                            <div class="detail">
                                <p>5 Live Personal Training Sessions</p>
                                <span class="price">₹1,499 <del>₹1,949</del><i class="fa fa-info"
                                        aria-hidden="true"></i>
                                </span>
                                <span class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i>50 min</span>
                            </div>
                            <div class="counter">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                                <span>
                                    {{sessions}}
                                </span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                        <span class="validmsg">Validity : Upto 14 Days</span>
                        <a href="#">View details<i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <div class="listing">
                            <h6>5 Sessions</h6>
                            <div class="detail">
                                <p>5 Live Personal Training Sessions</p>
                                <span class="price">₹1,499 <del>₹1,949</del><i class="fa fa-info"
                                        aria-hidden="true"></i>
                                </span>
                                <span class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i>50 min</span>
                            </div>
                            <div class="counter">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                                <span>
                                    {{sessions}}
                                </span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                        <span class="validmsg">Validity : Upto 14 Days</span>
                        <a href="#">View details<i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>