<div class="blog-detail-wrp">
    <div class="container">
        <h3 class="blog-detail-main-titel">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque similique eos labore,
        </h3>
        <span class="blog-date">- February 12, 2020</span>
        <span class="auther">Rechard jonson</span>
        <span class="reding-time">3 min read </span>
        <h3 class="blog-detail-sub-titel">1. consectetur adipisicing elit</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque similique eos labore, nam maiores accusantium! Obcaecati pariatur dolorem sit perferendis</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque similique eos labore, nam maiores accusantium! Obcaecati pariatur dolorem sit perferendis</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque similique eos labore, nam maiores accusantium! Obcaecati pariatur dolorem sit perferendis</p>
        <img src="assets/img/banner.jpg" alt="img">
        <h3 class="blog-detail-sub-titel">2. consectetur adipisicing elit</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque similique eos labore, nam maiores accusantium! Obcaecati pariatur dolorem sit perferendis</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque similique eos labore, nam maiores accusantium! Obcaecati pariatur dolorem sit perferendis</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque similique eos labore, nam maiores accusantium! Obcaecati pariatur dolorem sit perferendis</p>
        <img src="assets/img/banner.jpg" alt="img">
    </div>
</div>