<div class="page-titel-wrp">
    <h2 class="page-titel">About Us</h2>
</div>

<section class="who-are-we">
    <div class="container">
        <div class="who-are-we-inner">
            <h3 class="titel">
                Who are we
            </h3>
            <p class="about-content">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </p>
            <h3 class="titel">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </h3>

            <section class="counter">
                <div class="container">
                    <div class="counter-inner">
                        <span class="counter-number">
              <div [countFrom]="0" [countTo]="5" counto [step]="400" [duration]="2" (countoChange)="counto = $event"
                (countoEnd)="onCountoEnd()">
                {{ counto }} million
              </div>
            </span>
                        <p class="counter-content">Customers Served</p>
                    </div>
                    <div class="counter-inner">
                        <span class="counter-number">
              <div [countFrom]="0" [countTo]="1000" counto [step]="100" [duration]="2" (countoChange)="counto1 = $event"
                (countoEnd)="onCountoEnd()">
                {{ counto1 }}
              </div>
            </span>
                        <p class="counter-content">Trained Professionals</p>
                    </div>
                    <div class="counter-inner">
                        <span class="counter-number">
              <div [countFrom]="0" [countTo]="90000" counto [step]="100" [duration]="2"
                (countoChange)="counto2 = $event" (countoEnd)="onCountoEnd()">
                {{ counto2 }}
              </div>
            </span>
                        <p class="counter-content">Average Rating</p>
                    </div>
                </div>
            </section>

            <h3 class="titel">
                How we do it
            </h3>
            <p class="about-content">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book Lorem
                Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </p>
            <p class="about-content">
                <i>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </i>
            </p>

            <h3 class="titel">
                Our Story so far
            </h3>

            <p class="about-content">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
            </p>
            <img src="assets/img/uk.png" alt="img" class="about-map" />
            <p class="about-content">
                4 cities internationally: Bath, Birmingham, Bedford, Blackpool
            </p>




            <div class="our-team">
                <h3 class="titel my-4">
                    Our Team
                </h3>
                <div class="our-team-inner text-center p-4">
                    <img src="assets/img/hero.jpg" alt="our-team">
                    <h5 class="mt-3 mb-1">Kelly Mark <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></h5>
                    <span class="mb-2 d-block">Founder</span>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s

                    </p>
                </div>
                <div class="our-team-inner mx-3 text-center p-4">
                    <img src="assets/img/hero.jpg" alt="our-team">
                    <h5 class="mt-3 mb-1">Linda bros <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></h5>
                    <span class="mb-2 d-block">Co-Founder</span>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s

                    </p>
                </div>
                <div class="our-team-inner text-center p-4">
                    <img src="assets/img/hero.jpg" alt="our-team">
                    <h5 class="mt-3 mb-1">jasica Adem <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></h5>
                    <span class="mb-2 d-block">Co-Founder</span>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>