<div class="blog-list-wrp">
    <div class="blog-list-banne">
        <div class="banner-overlay"></div>
        <h1>Acupuncture</h1>
    </div>
    <div class="blog-listing">
        <div class="container">


            <div class="blog-list">
                <div class="blog-list-img">
                    <a routerLink="/blog/blog-detail"> <img src="assets/img/category1.jpg" alt=""></a>
                </div>
                <div class="blog-list-content">
                    <a routerLink="/blog/blog-detail"><span class="blog-list-subtitel">Acupuncture</span></a>
                    <span class="blog-date">- February 12, 2020</span>
                    <a routerLink="/blog/blog-detail">
                        <h6 class="blog-list-titel">Lorem ipsum dolor sit amet consectetur</h6>
                    </a>
                    <p class="blog-list-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque similique eos labore, nam maiores accusantium! Obcaecati pariatur dolorem sit perferendis</p>
                    <a href="#"> <i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <a href="#"><span class="blog-share">0 share</span></a>
                </div>
            </div>

            <div class="blog-list">
                <div class="blog-list-img">
                    <a routerLink="/blog/blog-detail"> <img src="assets/img/category2.jpg" alt=""></a>
                </div>
                <div class="blog-list-content">
                    <a routerLink="/blog/blog-detail"><span class="blog-list-subtitel">Acupuncture</span></a>
                    <span class="blog-date">- February 12, 2020</span>
                    <a routerLink="/blog/blog-detail">
                        <h6 class="blog-list-titel">Lorem ipsum dolor sit amet consectetur</h6>
                    </a>
                    <p class="blog-list-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque similique eos labore, nam maiores accusantium! Obcaecati pariatur dolorem sit perferendis</p>
                    <a href="#"> <i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <a href="#"><span class="blog-share">0 share</span></a>
                </div>
            </div>

            <div class="blog-list">
                <div class="blog-list-img">
                    <a routerLink="/blog/blog-detail"> <img src="assets/img/category3.jpg" alt=""></a>
                </div>
                <div class="blog-list-content">
                    <a routerLink="/blog/blog-detail"><span class="blog-list-subtitel">Acupuncture</span></a>
                    <span class="blog-date">- February 12, 2020</span>
                    <a routerLink="/blog/blog-detail">
                        <h6 class="blog-list-titel">Lorem ipsum dolor sit amet consectetur</h6>
                    </a>
                    <p class="blog-list-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque similique eos labore, nam maiores accusantium! Obcaecati pariatur dolorem sit perferendis</p>
                    <a href="#"> <i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <a href="#"><span class="blog-share">0 share</span></a>
                </div>
            </div>

            <div class="blog-list">
                <div class="blog-list-img">
                    <a routerLink="/blog/blog-detail"> <img src="assets/img/category4.jpg" alt=""></a>
                </div>
                <div class="blog-list-content">
                    <a routerLink="/blog/blog-detail"><span class="blog-list-subtitel">Acupuncture</span></a>
                    <span class="blog-date">- February 12, 2020</span>
                    <a routerLink="/blog/blog-detail">
                        <h6 class="blog-list-titel">Lorem ipsum dolor sit amet consectetur</h6>
                    </a>
                    <p class="blog-list-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque similique eos labore, nam maiores accusantium! Obcaecati pariatur dolorem sit perferendis</p>
                    <a href="#"> <i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <a href="#"><span class="blog-share">0 share</span></a>
                </div>
            </div>

            <div class="blog-list">
                <div class="blog-list-img">
                    <a routerLink="/blog/blog-detail"> <img src="assets/img/category5.jpg" alt=""></a>
                </div>
                <div class="blog-list-content">
                    <a routerLink="/blog/blog-detail"><span class="blog-list-subtitel">Acupuncture</span></a>
                    <span class="blog-date">- February 12, 2020</span>
                    <a routerLink="/blog/blog-detail">
                        <h6 class="blog-list-titel">Lorem ipsum dolor sit amet consectetur</h6>
                    </a>
                    <p class="blog-list-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque similique eos labore, nam maiores accusantium! Obcaecati pariatur dolorem sit perferendis</p>
                    <a href="#"> <i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <a href="#"><span class="blog-share">0 share</span></a>
                </div>
            </div>


        </div>
    </div>
</div>